---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Release.Namespace }}
data:
  go2rtc.yaml: |
    streams:
      doorbell_main:
        - http://{{ .Values.config.cams.doorbell.ip }}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=stream&password={{ .Values.config.cams.doorbell.pw }}
      doorbell_sub:
        - http://{{ .Values.config.cams.doorbell.ip }}/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=stream&password={{ .Values.config.cams.doorbell.pw }}
      garage_main:
        - rtsp://stream:{{ .Values.config.cams.garage.pw }}@{{ .Values.config.cams.garage.ip }}:554/cam/realmonitor?channel=1&subtype=0
      garage_sub:
        - rtsp://stream:{{ .Values.config.cams.garage.pw }}@{{ .Values.config.cams.garage.ip }}:554/cam/realmonitor?channel=1&subtype=2