config: |
  auth:
    enabled: true
    #reset_admin_password: true
  mqtt:
    enabled: false
  detectors:
    # cpu1:
    #   type: cpu
    ov1:
      type: openvino
      device: GPU
  model:
    width: 300
    height: 300
    input_tensor: nhwc
    input_pixel_format: bgr
    path: /openvino-model/ssdlite_mobilenet_v2.xml
    labelmap_path: /openvino-model/coco_91cl_bkgr.txt
  detect:
    enabled: true
    fps: 5
  motion:
    enabled: true
    threshold: 50
    contour_area: 50
  objects:
    track:
      - person
      - car
  record:
    enabled: true
    retain:
      days: 1
      mode: all
    alerts:
      retain:
        days: 30
      pre_capture: 5
      post_capture: 30
    detections:
      retain:
        days: 30
      pre_capture: 5
      post_capture: 30
  snapshots:
    enabled: true
    retain:
      default: 30
  notifications:
    enabled: true
    email: "justinricheson@icloud.com"
    cooldown: 60
  logger:
    default: info
    logs:
      frigate.comms.webpush: debug
  cameras:
    doorbell:
      enabled: true
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_sub
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_main
            roles:
              - record
    garage:
      enabled: true
      notifications:
        enabled: true
      zones:
        front-yard:
          coordinates: 
            0,0.681,0,0.507,0.208,0.256,0.267,0.166,0.398,0.108,0.495,0.086,0.552,0.08,0.607,0.092,0.654,0.104,0.704,0.121,0.755,0.141,0.86,0.196,0.911,0.231,1,0.327,1,1,0,1
      review:
        alerts:
          required_zones:
            - front-yard
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/garage_sub
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/garage_main
            roles:
              - record

nodeSelector:
  role: nvr

# Mount the Intel GPU device
extraVolumes:
  - name: dev-dri
    hostPath:
      path: /dev/dri
      type: Directory

extraVolumeMounts:
  - name: dev-dri
    mountPath: /dev/dri

securityContext:
  privileged: true

persistence:
  config:
    enabled: true
    existingClaim: frigate-config
  media:
    enabled: true
    existingClaim: frigate-media