config: |
  auth:
    enabled: true
    #reset_admin_password: true
  mqtt:
    enabled: false
  detectors:
    # cpu1:
    #   type: cpu
    ov1:
      type: openvino
      device: GPU
  model:
    width: 300
    height: 300
    input_tensor: nhwc
    input_pixel_format: bgr
    path: /openvino-model/ssdlite_mobilenet_v2.xml
    labelmap_path: /openvino-model/coco_91cl_bkgr.txt
  detect:
    enabled: true
    fps: 5
  motion:
    enabled: true
    threshold: 50
    contour_area: 50
  record:
    enabled: true
    alerts:
      retain:
        days: 30
    detections:
      retain:
        days: 30
  snapshots:
    enabled: true
    retain:
      default: 30
  notifications:
    enabled: true
    email: "justinricheson@icloud.com"
    cooldown: 60
  logger:
    default: info
    logs:
      frigate.comms.webpush: debug
  cameras:
    doorbell:
      enabled: true
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_sub
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_main
            roles:
              - record
    garage:
      enabled: true
      notifications:
        enabled: false
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/garage_main
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/garage_sub
            roles:
              - record

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "nvr"
    effect: "NoSchedule"
nodeSelector:
  role: nvr

# Mount the Intel GPU device
extraVolumes:
  - name: dev-dri
    hostPath:
      path: /dev/dri
      type: Directory

extraVolumeMounts:
  - name: dev-dri
    mountPath: /dev/dri

securityContext:
  privileged: true

persistence:
  config:
    enabled: true
    existingClaim: frigate-config
  media:
    enabled: true
    existingClaim: frigate-media