config: |
  auth:
    enabled: true
    #reset_admin_password: true
  mqtt:
    enabled: false
  detectors:
    # cpu1:
    #   type: cpu
    ov1:
      type: openvino
      device: GPU
  model:
    width: 300
    height: 300
    input_tensor: nhwc
    input_pixel_format: bgr
    path: /openvino-model/ssdlite_mobilenet_v2.xml
    labelmap_path: /openvino-model/coco_91cl_bkgr.txt
  detect:
    enabled: true
    fps: 5
  motion:
    enabled: true
    threshold: 50
    contour_area: 50
  objects:
    track:
      - person
  record:
    enabled: true
    retain:
      days: 1
      mode: all
    alerts:
      retain:
        days: 30
      pre_capture: 5
      post_capture: 30
    detections:
      retain:
        days: 30
      pre_capture: 5
      post_capture: 30
  snapshots:
    enabled: true
    retain:
      default: 30
  notifications:
    enabled: true
    email: "justinricheson@icloud.com"
    cooldown: 60
  logger:
    default: info
    logs:
      frigate.comms.webpush: debug
  cameras:
    doorbell:
      enabled: true
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_sub
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_main
            roles:
              - record
    garage:
      enabled: true
      notifications:
        enabled: true
      objects:
        track:
          - person
          - car
      zones:
        front-yard:
          coordinates: 0,0.696,0.205,0.443,0.359,0.232,0.367,0.173,0.386,0.152,0.439,0.127,0.514,0.104,0.575,0.105,0.634,0.117,0.694,0.14,0.753,0.163,0.842,0.208,0.912,0.247,1,0.304,1,1,0,1
          objects: person
        driveway-entrance:
          coordinates: 0.025,0.493,0.035,0.573,0.267,0.29,0.217,0.265
          objects: car
      review:
        detections:
          required_zones:
            - front-yard
            - driveway-entrance
        alerts:
          required_zones:
            - front-yard
            - driveway-entrance
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/garage_sub
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/garage_main
            roles:
              - record

nodeSelector:
  role: nvr

# Mount the Intel GPU device
extraVolumes:
  - name: dev-dri
    hostPath:
      path: /dev/dri
      type: Directory

extraVolumeMounts:
  - name: dev-dri
    mountPath: /dev/dri

securityContext:
  privileged: true

persistence:
  config:
    enabled: true
    existingClaim: frigate-config
  media:
    enabled: true
    existingClaim: frigate-media