config: |
  auth:
    enabled: false
  mqtt:
    enabled: true
    host: "mqtt.nvr.home.justinricheson.com"
    port: 1883
  detectors:
    cpu1:
      type: cpu
  record:
    enabled: true
    retain:
      days: 7
      mode: all
  snapshots:
    enabled: true
    retain:
      default: 30
  cameras:
    doorbell:
      enabled: true
      detect:
        width: 640
        height: 480
        fps: 5
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_sub?mp4
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_main?mp4
            roles:
              - record

persistence:
  media:
    enabled: true
    existingClaim: frigate-media