config: |
  auth:
    enabled: true
    #reset_admin_password: true
  mqtt:
    enabled: false
  detectors:
    cpu1:
      type: cpu
  motion:
    enabled: true
    threshold: 50
    contour_area: 50
  record:
    enabled: true
    alerts:
      retain:
        days: 30
    detections:
      retain:
        days: 30
  snapshots:
    enabled: true
    retain:
      default: 30
  notifications:
    enabled: true
    email: "justinricheson@icloud.com"
    cooldown: 60
  cameras:
    doorbell:
      enabled: true
      detect:
        width: 640
        height: 480
        fps: 5
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_sub?mp4
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_main?mp4
            roles:
              - record
    garage:
      enabled: true
      detect:
        width: 960
        height: 540
        fps: 5
      notifications:
        enabled: false
      motion:
        mask:
          0,0.726,0,0,1,0,1,0.501,0.973,0.503,0.897,0.446,0.786,0.4,0.618,0.351,0.533,0.394,0.296,0.452,0.147,0.478
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/garage_main?mp4
            roles:
              - record
              - detect

persistence:
  config:
    enabled: true
    existingClaim: frigate-config
  media:
    enabled: true
    existingClaim: frigate-media
resources:
  limits:
    cpu: 2