config: |
  auth:
    enabled: false
  mqtt:
    enabled: false
    host: mosquitto.mosquitto.svc.cluster.local
    port: 1883
  detectors:
    cpu1:
      type: cpu
  record:
    enabled: true
    alerts:
      retain:
        days: 30
    detections:
      retain:
        days: 30
  snapshots:
    enabled: true
    retain:
      default: 30
  cameras:
    doorbell:
      enabled: true
      detect:
        width: 640
        height: 480
        fps: 5
      ffmpeg:
        inputs:
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_sub?mp4
            roles:
              - detect
          - path: rtsp://go2rtc-api.go2rtc.svc.cluster.local:8554/doorbell_main?mp4
            roles:
              - record

persistence:
  config:
    enabled: true
    existingClaim: frigate-config
  media:
    enabled: true
    existingClaim: frigate-media