---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Release.Namespace }}
data:
  go2rtc.yaml: |
    streams:
      doorbell_main:
        - http://{{ .Values.config.cams.doorbell.ip }}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=stream&password={{ .Values.secret.cams.doorbell.pw }}
      doorbell_sub:
        - http://{{ .Values.config.cams.doorbell.ip }}/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=stream&password={{ .Values.secret.cams.doorbell.pw }}
      # doorbell_rtsp_main:
      #   - rtsp://stream:{{ .Values.secret.cams.doorbell.pw }}@{{ .Values.config.cams.doorbell.ip }}/Preview_01_main
      # doorbell_rtsp_sub:
      #   - rtsp://stream:{{ .Values.secret.cams.doorbell.pw }}@{{ .Values.config.cams.doorbell.ip }}/Preview_01_sub