ports:
  web:
    port: 9080
    nodePort: 30000
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true

  websecure:
    port: 9443
    nodePort: 30001

api:
  dashboard: true
  insecure: false

extraObjects:
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: dashboard-auth
    spec:
      basicAuth:
        secret: traefik-auth-secret

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`home.justinricheson.com`)
    entryPoints:
      - websecure
    middlewares:
      - name: dashboard-auth
    tls:
      secretName: wildcard-tls

ingressClass:
  enabled: true

service:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.10
  annotations:
    metallb.universe.tf/address-pool: default-pool

providers:
  kubernetesIngress:
     enabled: true
  kubernetesGateway:
     enabled: false

logs:
  general:
    level: DEBUG
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"